<!DOCTYPE html>
<html lang="en">
<head>

    <title>@ViewBag.SiteName</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/favicon.ico" />

    <base href="/">

    @Styles.Render("~/content/login")

</head>
<body>

    @RenderBody()

    @Scripts.Render("~/scripts/login")

    @RenderSection("scripts", required: false)

</body>
</html>
